/* ===================================================
Component: Sitemap
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-sitemap"] {
	.sitemap__headline {
		margin-bottom: $margin-base;
		font-size: 2rem;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-sitemap--default {}
