 {{! ---
Important Notes:
Be sure you use collections to categorize your sitemap.
If you do not want to use collections, just delete this `sitemap` partial
--- }}

<nav class="c-sitemap--default" data-css="c-sitemap">
	<!--<h2 class="sitemap__header">Sitemap</h2>-->

	{{#each collections.docs}}
		{{#is name "Getting Started"}}
			<div class="sitemap__overview">
				<h3 class="sitemap__headline">{{uppercase name}}</h3>

				{{> sitemap__list pages=../pages context=this }}
			</div>
		{{/is}}
		{{#is name "CLI"}}
			<div class="sitemap__overview">
				<h3 class="sitemap__headline">{{uppercase name}}</h3>

				{{> sitemap__list pages=../pages context=this }}
			</div>
		{{/is}}
		{{#is name "Methodology"}}
			<div class="sitemap__overview">
				<h3 class="sitemap__headline">{{uppercase name}}</h3>

				{{> sitemap__list pages=../pages context=this }}
			</div>
		{{/is}}
		{{#is name "Classes"}}
			<div class="sitemap__overview">
				<h3 class="sitemap__headline">{{uppercase name}}</h3>

				{{> sitemap__list pages=../pages context=this }}
			</div>
		{{/is}}
	{{/each}}
</nav>
