/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}

/* ---------------------------------------------------
Headlines
--------------------------------------------------- */
h1,
h2 {
	font-family: $font-family;
	font-size: 3.3rem;
	font-weight: $font-bold;
	line-height: 1.5;
	margin: 1rem 0 2rem;
}

h3 {
	font-family: $font-family;
	font-weight: $font-medium;
	font-size: 2.4rem;
	margin: $margin-base * 2 0;
	color: $color-primary-light;
}

// styling of console output element (triggered by parameter 'devmode' and 'logger' in url)
#js-logger {
	position: fixed;
	right: 20px;
	bottom: 20px;
	left: 20px;
	color: #fff;
	height: calc(100% / 6);
	background-color: rgba(0, 0, 0, .9);
	padding: 20px;
	font-size: 14px;
	overflow-y: auto;
	z-index: 9999;
	border-radius: 10px;
	border: 10px solid red;
}
