lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json

pids
logs
results

npm-debug.log
node_modules
.sass-cache
.idea
/app
src/app/exported
src/external/veams
src/external/core
src/external/base
src/external/cli
src/external/component
src/external/generator-veams
src/external/generator-mock-api
src/external/generator-react-app
src/external/generator-config-js-libraries
src/external/generator-config-css-frameworks
src/external/generator-config-postcss
src/external/generator-config-icons
src/external/generator-config-generics
src/external/plugin-modules
src/external/plugin-vent
src/external/plugin-store
src/external/plugin-templater
src/external/plugin-media-query-handler
src/external/plugin-media-logger
src/external/plugin-dom
src/external/helpers
src/external/http-service
