<div class="c-navigation{{#if
		settings.navigationContextClass}}--{{settings.navigationContextClass}}{{else}}--default{{/if}}{{#if
		settings.navigationClasses}} {{settings.navigationClasses}}{{/if}}"
     data-css="c-navigation"
     data-js-module="navigation"{{#if settings.navigationJsOptions}}
     data-js-options='{{stringify settings.navigationJsOptions}}'{{/if}}>
	<ul class="navigation__list">
		<li class="navigation__item">
			<a href="/docs/index.html" class="navigation__link{{#inArray @root.collections.sitemap.docs.files @root.currentPage.id}} is-active{{/inArray}}">Docs</a>
		</li>
		<!--<li class="navigation__item">-->
			<!--<a href="/docs.html" class="navigation__link">Examples</a>-->
		<!--</li>-->
		<!--<li class="navigation__item">-->
			<!--<a href="/docs.html" class="navigation__link">Tutorial</a>-->
		<!--</li>-->
	</ul>
</div>
