
<div class="c-navigation{{#if settings.navigationContextClass}}--{{settings.navigationContextClass}}{{else}}--default{{/if}}{{#if settings.navigationClasses}} {{settings.navigationClasses}}{{/if}}"
     data-css="c-navigation"
     data-js-module="navigation"{{#if settings.navigationJsOptions}}
     data-js-options='{{stringify settings.navigationJsOptions}}'{{/if}}>
     navigation
     
</div>
