@mixin sprites-bg-svg() {
	background-image: url("../icons/sprites/sprites-sprite.svg");
}
%sprites-bg-svg {
	@include sprites-bg-svg();
}
@mixin sprites-bg-size() {
	background-size: 520px 520px;
}
%sprites-bg-size {
	@include sprites-bg-size();
}

@mixin sprites-bg-png() {
	background-image: url("../icons/sprites/sprites-sprite-medium.png");
}
%sprites-bg-png {
	@include sprites-bg-png();
}
@mixin sprites-lightbulb() {
	@include sprites-bg-size;
	@include sprites-bg-svg;
	width: 512px;
	height: 512px;
	background-position: 0 0;
	@at-root .no-svg & {
		@include sprites-bg-png;
	}
}

%sprites-lightbulb {
	@include sprites-lightbulb();
}


