
<div class="c-content-section{{#if settings.contentSectionContextClass}}--{{settings.contentSectionContextClass}}{{else}}--default{{/if}}{{#if settings.contentSectionClasses}} {{settings.contentSectionClasses}}{{/if}}"
     data-css="c-content-section">
     {{{yield}}}

</div>
