<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
	{{#block "metadata"}}
		{{> _metadata }}
	{{/block}}
	{{#block "styles"}}
		{{> _styles }}
	{{/block}}
</head>

<body class="{{bodyclass}}">

<div class="page-wrapper">
	<header class="r-header">
		<div class="r-header-left">
			<a href="/index.html">
				<img src="{{@root.assets}}icons/svg/veams-std-invert.svg" width="148px">
			</a>
		</div>
		<div class="r-header-right">
			{{#with navigation.variations.default}}
				{{> navigation}}
			{{/with}}
		</div>
	</header>
	<div class="page-content-wrapper">
		<section class="r-stage">
			<div class="stage__content">
				{{#block "stage"}}
					{{#with @root.stage.variations.default}}
						{{> stage}}
					{{/with}}
				{{/block}}
			</div>
		</section>
		{{#block "sidebar"}}
			<aside class="r-sidebar">
				<div class="sidebar__list">
					{{> sitemap }}
				</div>
			</aside>
		{{/block}}
		<main class="r-main">
			{{#block "main"}}{{/block}}
		</main>
	</div>
</div>
<!-- Scripts
================================================== -->
{{#block "scripts"}}
	{{> _scripts }}
{{/block}}
</body>
</html>