<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
	{{#block "metadata"}}
		{{> _metadata }}
	{{/block}}
	{{#block "styles"}}
		{{> _styles }}
	{{/block}}
</head>

<body class="{{bodyclass}}">

<div class="page-wrapper">
	<header class="r-header">
		<div class="r-header-left">
			{{#isnt bodyclass "is-front"}}
				<div class="header-left__toggler">
					{{#deepMerge @root.cta.variations.iconWithJs with=this}}
						{{#wrapWith "cta" settings=this.settings content=this.content}}
							{{> cta__content this.content}}
						{{/wrapWith}}
					{{/deepMerge}}
				</div>
			{{/isnt}}

			<div class="header-left__logo">
				<a href="/index.html" class="left__logo__link">
					<img src="{{@root.assets}}icons/svg/veams-std-invert.svg">
				</a>
			</div>
		</div>
		<div class="r-header-right">
			{{#with navigation.variations.default}}
				{{> navigation}}
			{{/with}}
		</div>
	</header>
	<div class="page-content-wrapper">
		{{#is bodyclass "is-front"}}
			<section class="r-stage">
				<div class="stage__content">
					{{#block "stage"}}
						{{#with @root.stage.variations.default}}
							{{> stage}}
						{{/with}}
					{{/block}}
				</div>
			</section>
		{{/is}}
		{{#block "sidebar"}}
			<aside class="r-sidebar" data-js-item="sidebar">
				<div class="sidebar__list">
					{{> sitemap }}
				</div>
			</aside>
		{{/block}}

		<main class="r-main" data-js-item="main">
			{{#block "main"}}{{/block}}

			{{#isnt bodyclass "is-front"}}
                <div class="r-footer">
                    {{#block "footer"}}
                        {{> footer }}
                    {{/block}}
                </div>
			{{/isnt}}
		</main>

	</div>
	{{#is bodyclass "is-front"}}
		<footer class="r-footer">
			{{#block "footer"}}
				{{> footer }}
			{{/block}}
		</footer>
	{{/is}}
</div>
<!-- Scripts
================================================== -->
{{#block "scripts"}}
	{{> _scripts }}
{{/block}}
</body>
</html>
