
<div class="c-section{{#if settings.sectionContextClass}}--{{settings.sectionContextClass}}{{else}}--default{{/if}}{{#if settings.sectionClasses}} {{settings.sectionClasses}}{{/if}}"
     data-css="c-section">

     {{{yield}}}

</div>
