/* ===================================================
Main File For Imports
=================================================== */
// Reset (veams-reset or veams-normalize)
@import "~@veams/core/scss/veams-reset";

// Global Variables and Settings
@import "shared/styles/shared";

// Media Queries in JS
@import "~@veams/plugin-media-query-handler/scss/media-query-handler";

// Icons
@import "shared/styles/icons/**/*";

// Core
@import "core/styles/base";
@import "core/styles/modifiers";
@import "core/styles/print";
@import "core/layouts/styles/lyt-default";
@import "core/components/sitemap/styles/sitemap";
@import "core/components/navigation/styles/navigation";
@import "core/components/section/styles/section";
@import "core/components/stage/styles/stage";

// Components
@import "shared/components/rte/styles/rte";

// Utilities
@import "shared/utilities/grid/styles/grid";
@import "shared/components/video/styles/video";
@import "shared/components/slider/styles/slider";
@import "core/components/content-section/styles/content-section";