/* ===================================================
Main File For Imports
=================================================== */
// Reset (veams-reset or veams-normalize)
@import "~@veams/core/scss/veams-reset";

// Global Variables and Settings
@import "shared/styles/shared";

// Media Queries in JS
@import "~@veams/plugin-media-query-handler/scss/media-query-handler";

// Icons
@import "shared/styles/icons/**/*";

// Core
@import "core/styles/base";
@import "core/styles/print";
@import "core/layouts/styles/lyt-default";
@import "core/components/sitemap/styles/sitemap";
@import "core/components/navigation/styles/navigation";
@import "core/components/section/styles/section";
@import "shared/components/rte/styles/rte";

// Components