/* ===================================================
RTE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Imports
--------------------------------------------------- */
@import "../docs/layouts/highlight";
@import "../docs/layouts/monokai";

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-css="c-rte"] {
	/*
	Headlines
	----------------------------- */
	h1 {
	}

	h2 {
		font-size: 2.2rem;
		font-weight: $font-bold;
		line-height: 1.5;
		margin: 2rem 0;
		color: lighten($color-grey-dark, 35);
	}

	h3 {
		border-top: 1px solid lighten($color-grey-dark, 60);
		font-size: 2rem;
		font-weight: $font-light;
		line-height: 1.5;
		margin: 2.75rem 0;
		padding-top: 2rem;
		text-transform: uppercase;
		color: lighten($color-grey-dark, 35);
	}

	h4 {
		font-size: 1.9rem;
		font-weight: $font-light;
		line-height: 1.35;

		margin: 2rem 0;
		padding: 1rem;

		color: #000;
		background: lighten($color-primary-lighter, 20);
	}

	h5 {
		font-size: 1.75rem;
		font-weight: $font-light;
		line-height: 1.35;

		margin: 2rem 0;
		padding: .5rem;

		color: #000;
		background: color(white);
	}

	strong,
	b {
		font-weight: 700;
		color: lighten($color-grey-dark, 25);
	}

	em {
		font-style: italic;
	}

	ol {
		margin-top: 1rem;
		margin-bottom: 1rem;
		list-style: decimal;
		counter-reset: listCounter;
		margin-left: 3rem;

		li {
			counter-increment: listCounter;
			list-style: none;
			margin: 2.3rem 0;
			position: relative;
			padding-left: 3.5rem;
			font-size: 1.8rem;

			&::before {
				@extend %pseudo;

				content: counter(listCounter) '.';
				font-weight: 500;
				z-index: 1;
				color: color(white);
				top: 0;
				left: 0;

			}

			&::after {
				@extend %pseudo;

				top: -8px;
				left: -18px;
				z-index: 0;
				opacity: .9;
			}
		}

	}

	ul {
		list-style: none;
		margin-left: 3rem;
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			padding: .5rem 2.5rem;

			&::before {
				@extend %pseudo;

				left: 0;
				top: 12px;
				width: 8px;
				height: 8px;
				background-color: $color-primary-lighter;
			}
		}
	}

	img {
		display: block;

		max-width: 100%;
		height: auto;
		margin: 1rem auto;
	}

	/*
	Paragraph
	----------------------------- */
	p {
		font-family: $font-family;
		font-weight: $font-light;
		margin-bottom: 1rem;

		&:last-child {
			margin: 0;
		}
	}

	code {
		transitiona: all 500ms ease;

		font-family: Courier, Monospace, "Courier New", sans-serif;
	}

	pre {
		position: relative;
	}

	/*
	Table
	----------------------- */
	table {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;

		/*
		Sub Elements
		----------------------- */
		tbody {
			margin-bottom: 0;
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
		}

		th {
			padding: 15px;
			font-weight: normal;
			text-align: left;
		}

		td {
			padding: 15px 20px;
			text-align: left;
		}
	}

	/*
	Sub Elements
	----------------------- */
	tbody tr {
		&:nth-child(n+1) {
			background-color: transparent;
		}

		&:nth-child(2n+2) {
			background-color: color(white);
		}
	}

	/*
	States
	----------------------- */
	th {
		background-color: $color-primary-light;
		color: #fff;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-rte--default {
	a {
		color: $color-primary-dark;
	}

	h2 {
		font-weight: $font-normal;
		color: $color-grey-dark;
	}

	h3 {
		font-weight: $font-normal;
		color: $color-grey-dark;
		border-top: none;
	}

	h4 {
		color: $color-grey-dark;
		padding: 0;
		background-color: transparent;
	}

	ul {
		li {
			&::before {
				background-color: $color-grey-dark;
			}
		}
	}

	hr {
		margin: 3rem 0;
		border-width: 1px;
		background-color: transparent;
		border-top: 1px solid darken(#fff, 20);
		border-bottom: 2px solid #fff;
		border-right: none 0;
		border-left: none 0;
	}

	/*
		Standard elements for markdown
		----------------------- */
	code[class="language-bash"],
	code[class="language-html"],
	code[class="language-hbs"],
	code[class="language-js"],
	code[class="language-scss"] {
		display: block;
		background: #242420;
		font-size: 100%;
		word-wrap: normal;
		color: lighten(#e7db74, 15);
		overflow-x: auto;
	}

	pre {
		white-space: pre-line;
		margin-bottom: 4rem;

		code {
			padding: .9rem 1rem;
		}
	}

	table {
		font-family: $font-family;
		font-size: 100%;
		width: 100%;
		overflow: auto;
		border-spacing: 0;
		border-collapse: collapse;
		margin: .5rem 0 4rem;
	}

	thead,
	tbody {
		box-sizing: border-box;

		tr {
			border-top: 1px solid #3a3a3a;
			color: #f8f8f2;

			&:nth-child(n+1) {
				background-color: rgb(35, 36, 31);
			}

			&:nth-child(2n+2) {
				background-color: rgba(35, 36, 31, .9);
			}

			th,
			td {
				padding: .7rem 1rem;
				border: 1px solid #4e4e4e;
			}

			th {
				background-color: #000;
			}
		}

		th {
			font-weight: 600;
		}

		td {
			code {
				color: #e7db74;
			}
		}
	}
}
