/* ===================================================
RTE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Imports
--------------------------------------------------- */
@import "../docs/layouts/highlight";
@import "../docs/layouts/monokai";

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-css="c-rte"] {
	/*
	Headlines
	----------------------------- */
	h1 {
	}

	h2 {
		font-size: 2.2rem;
		font-weight: $font-bold;
		line-height: 1.5;
		margin: 2rem 0;
		color: lighten($color-grey-dark, 35);
	}

	h3 {
		border-top: 1px solid lighten($color-grey-dark, 60);
		font-size: 2rem;
		font-weight: $font-light;
		line-height: 1.5;
		margin: $margin-base * 4 0 2.75rem 0;
		color: lighten($color-grey-dark, 35);
	}

	h4 {
		font-size: 1.9rem;
		font-weight: $font-light;
		line-height: 1.35;

		margin: 2rem 0;
		padding: 1rem;

		color: #000;
		background: lighten($color-primary-lighter, 20);
	}

	h5 {
		font-size: 1.75rem;
		font-weight: $font-light;
		line-height: 1.35;

		margin: 2rem 0;
		padding: .5rem;

		color: #000;
		background: color(white);
	}

	strong,
	b {
		font-weight: $font-medium;
	}

	em {
		font-style: italic;
	}

	ol {
		margin-top: 1rem;
		margin-bottom: 1rem;
		list-style: decimal;
		counter-reset: listCounter;
		margin-left: 3rem;
		color: $color-grey-dark;
		font-family: $font-family;
		font-weight: $font-light;

		li {
			counter-increment: listCounter;
			list-style: decimal;
			margin: 1.3rem 1rem;
			position: relative;
			padding-left: 1rem;
			font-size: 1.8rem;

			&::before {
				@extend %pseudo;

				// content: counter(listCounter) '.';
				font-weight: 500;
				z-index: 1;
				color: color(white);
				top: 0;
				left: 0;

			}

			&::after {
				@extend %pseudo;

				top: -8px;
				left: -18px;
				z-index: 0;
				opacity: .9;
			}
		}

	}

	ul {
		list-style: none;
		margin-left: 3rem;
		margin-bottom: .5rem;
		color: $color-grey-dark;
		font-family: $font-family;
		font-weight: $font-light;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			counter-increment: none;
			list-style: none;
			position: relative;
			padding: .5rem 2rem;

			&::before {
				@extend %pseudo;

				content: '';
				left: 0;
				top: 12px;
				width: 8px;
				height: 8px;
				background-color: $color-primary-lighter;
			}
		}
	}

	img {
		display: block;

		max-width: 100%;
		height: auto;
		margin: 1rem auto;
	}

	/*
	Paragraph
	----------------------------- */
	p {
		font-family: $font-family;
		font-weight: $font-light;
		margin-bottom: 1rem;

		&:last-child {
			margin: 0;
		}
	}

	div,
	section {
		> :first-child {
			margin-top: 0;
		}
	}

	code {
		font-size: 16px;
		transition: all 500ms ease;
		font-family: Courier, Monospace, "Courier New", sans-serif;
		color: $color-primary-light;
	}

	pre {
		position: relative;
	}

	/*
	Table
	----------------------- */
	table {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;

		/*
		Sub Elements
		----------------------- */
		tbody {
			margin-bottom: 0;
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
		}

		th {
			padding: 15px;
			font-weight: normal;
			text-align: left;
		}

		td {
			padding: 15px 20px;
			text-align: left;
		}
	}

	/*
	Sub Elements
	----------------------- */
	tbody tr {
		&:nth-child(n+1) {
			background-color: transparent;
		}

		&:nth-child(2n+2) {
			background-color: color(white);
		}
	}

	/*
	States
	----------------------- */
	th {
		background-color: $color-primary-light;
		color: #fff;
	}

	/*
	Blockquote
	----------------------- */
	blockquote {
		position: relative;
		font-size: 2.5rem;
		font-weight: $font-light;
		line-height: 1.5;
		margin: $margin-base * 4 0 2.75rem 0;
		padding: 10px 10px 10px 80px;
		color: $color-white;
		background-color: lighten($hippie-blue, 10);

		&::before {
			position: absolute;
			display: block;
			top: 8px;
			left: 20px;
			content: "";
			@include sprites-icon-lightbulb();
		}
	}

	h1,
	h2,
	h3,
	h4 {
		+ blockquote {
			margin-top: 0;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-rte--default {
	a {
		color: $color-primary-light;
	}

	h2 {
		color: $color-grey-dark;
	}

	h3 {
		color: $color-grey-dark;
		border-top: none;
	}

	h4 {
		color: $color-grey-dark;
		padding: 0;
		background-color: transparent;
	}

	ul {
		li {
			&::before {
				background-color: $color-grey-dark;
			}
		}
	}

	hr {
		margin: 3rem 0;
		border-width: 1px;
		background-color: transparent;
		border-top: 1px solid darken(#fff, 20);
		border-bottom: 2px solid #fff;
		border-right: none 0;
		border-left: none 0;
	}

	table {
		font-family: $font-family;
		font-size: 100%;
		width: 100%;
		overflow: auto;
		border-spacing: 0;
		border-collapse: collapse;
		margin: .5rem 0 4rem;
	}

	thead,
	tbody {
		box-sizing: border-box;

		tr {
			border-top: 1px solid #3a3a3a;
			color: #f8f8f2;

			&:nth-child(n+1) {
				background-color: rgb(35, 36, 31);
			}

			&:nth-child(2n+2) {
				background-color: rgba(35, 36, 31, .9);
			}

			th,
			td {
				padding: .7rem 1rem;
				border: 1px solid #4e4e4e;
			}

			th {
				background-color: #000;
			}
		}

		th {
			font-weight: 600;
		}

		td {
			code {
				color: #e7db74;
			}
		}
	}
}

/* ---------------------------------------------------
Context: Slider
--------------------------------------------------- */
.c-rte--slider {
	h3 {
		margin-top: 0;
	}
}
