/* ===================================================
component: section
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-section"] {
	padding: 0 0 $padding-base * 6;

	.section__headline {
		text-align: center;
		font-size: 3.4rem;
		font-family: $font-family;
		font-weight: $font-thin;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: $margin-base * 3;
	}

	.section__content {
	}

	/*
	Modifiers
	----------------------- */
	.is-left {
		text-align: left !important;
		color: $color-primary-light;
	}

	&.is-docs {
		padding: 0 $padding-base * 4 $padding-base * 10;

		@include media("<mobile-l") {
			padding: 0 $padding-base * 2 $padding-base * 8;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-section--default {
}
