/* ===================================================
component: section
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-section"] {
	padding: $margin-base * 4 0 $margin-base * 6;
	border-bottom: 1px dotted $color-grey-dark;

	.section__headline {
		text-align: center;
		font-size: 3.4rem;
		margin-top: 0;
		margin-bottom: $margin-base * 3;
		font-family: $font-family;
		font-weight: $font-thin;
	}

	.section__content {
	}

	/*
	Modifiers
	----------------------- */
	.is-left {
		text-align: left !important;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-section--default {
}