/* ===================================================
Layout Styles
=================================================== */

/* ---------------------------------------------------
Variables
--------------------------------------------------- */
$lyt-sidebar-width: 320px;
$lyt-sidebar-offset: 64px;
$lyt-container-margin-top: 4rem;
$lyt-index-map: (
	header: 10,
	sidebar: 5
);

/* ---------------------------------------------------
Header
--------------------------------------------------- */
.r-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: $padding-base $padding-base * 2;
	background-color: darken($color-grey-dark, 8);
	z-index: map-get($lyt-index-map, header);
	box-shadow: #000 -1px 1px 10px;
}

.r-header-left {
	display: flex;
	align-items: center;

	.header-left__toggler {
		display: flex;
	}

	.header-left__logo {
		.left__logo__link {
			width: 75%;
			display: block;

			@include media("<mobile-l") {
				width: 100%;
			}
		}
	}
}

.r-header-right {
	width: 100%;
	margin-right: $margin-base * 2;
}

/* ---------------------------------------------------
Content Wrapper
--------------------------------------------------- */
.page-wrapper {
	position: relative;
	display: block;
	height: 100%;
}

.page-content-wrapper {
	margin-top: $lyt-sidebar-offset;

	@include media("<mobile-l") {
		margin-top: 55px;
	}
}

/* ---------------------------------------------------
Sidebar
--------------------------------------------------- */
.r-sidebar {
	position: relative;
	width: $lyt-sidebar-width;
	height: 100vh;
	float: left;
	box-sizing: border-box;
	z-index: map-get($lyt-index-map, sidebar);
	overflow-x: auto;
	padding: $padding-base * 4 $padding-base * 2 0;
	transition: left 0.3s;
	color: $color-grey-dark;
	background-image: $bg-pattern;
	background-color: $color-grey-light;
	box-shadow: $color-grey-dark -10px -28px 50px;

	@include media("<=tablet-p") {
		width: $lyt-sidebar-width - 80px;
	}

	@include media("<mobile-l") {
		width: 70%;
		position: absolute;
		box-shadow: $color-grey-dark -6px -28px 110px;
	}

		a {
		color: darken($color-primary-light, 10);
		text-decoration: none;

		&:hover {
			color: darken($color-primary-light, 30);
		}
	}

	.sidebar__header {
		background-color: darken($color-grey-dark, 5);
	}

	.sidebar__list {
	}

	&.is-hidden {
		clear: right;
		left: -320px;
		width: 0;
		position: absolute;
	}

	&.is-active {
		left: 0;
		transition: left 0.3s;
	}
}

/* ---------------------------------------------------
Main
--------------------------------------------------- */
.r-main {
	float: left;
	width: calc(100% - #{$lyt-sidebar-width});
	height: 100vh;
	overflow-x: hidden;
	padding: $padding-base * 4 $padding-base * 4 0;
	box-sizing: border-box;

	@include media("<=tablet-p") {
		width: calc(100% - #{$lyt-sidebar-width - 80px});
	}

	@include media("<mobile-l") {
		width: 100%;
		float: left;
		padding: inherit $padding-base 0;
	}

	.is-front & {
		float: none;
		width: 100%;
		padding: $margin-base * 6 0 0;
	}

	&.is-contained {
		clear: left;
		width: 100%;
		padding: $padding-base * 4 $padding-base * 2 0;
	}
}
