---
publish: false
---
<div class="u-grid-row{{#unless props.settings.gridPadding}} is-collapsed{{/unless}}{{#if props.settings.gridRowClasses}} {{props.settings.gridRowClasses}}{{/if}}">
	{{{yield}}}
</div>